.explore-container {
    position: relative;
}

.btn-explore-primary {
    background-color: #0f766e;
    color: #fff;
}

.btn-explore-secondary {
    background-color: #5f5f5f60;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    border: 1px solid #fff;
    font-weight: 400;
}

.btn-explore-secondary:hover {
    background-color: #ffffff56;
    color: #fffffff1;
    font-weight: 600;
}

.btn-explore {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    font-weight: 500;
    display: flex;
}

@media (max-width: 800px) {
  .btn-explore {
    left: auto;
    right: 5%;
    width: 90%;
  }
}

.details-texts {
    position: absolute;
    top: 20px;
    left: 20px;
}

.details-texts h3,
.details-texts h4,
.details-texts h5,
.details-texts h6 {
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    text-align: left;
}