.App {
  text-align: center;
}

.app-container {
  min-height: 67vh;
}

.product-details-img {
  max-height: 300px;
  width: auto !important;
  max-width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}