.App {
  text-align: center;
}

.MuiModal-backdrop {
  height: 100vh !important;
}

.MuiDialog-container {
  height: 100vh !important;
}

@media (min-width: 800px) {
  .app-container {
    min-height: calc(100vh - 150px);
  }
}

@media (max-width: 800px) {
  .app-container {
    min-height: calc(100vh - 175px);
  }
}

.product-details-img {
  max-height: 300px;
  width: auto !important;
  max-width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
